* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    background-image: url("citrouilles.jpg");
    background-size: cover;
}

h1 {
    border-bottom: 3px solid red;
    color: white;
}

h1, footer {
    background: #00000087;
}

.part {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.side {
    text-align: center;
}

.middle {
    text-align: center;
}

h2 {
    margin: 20px 0;
}

.part > div, nav {
    margin: auto;
    width: 280px;
    height: 280px;
    background: black;
    color: white;
}

nav {
    text-align: center;
}

#menu {
    padding-top: 20px;
}

#menu div {
    margin: 5px;
    padding: 10px 0;
    background: orange;
}

footer div {
    padding: 10px 20px;
    background: orange;
    width: 25%;
    margin: auto;
}

.part img {
    width: 200px;
    height: auto;
    margin: 20px auto;
}

footer {
    border-top: red 3px solid;
}
/*page 1*/
.picture img {
    width: 300px;
}

.picture {
    text-align: center;
    background: black;
}

.step{
    height: 150px;
}

/*time*/
table {
    border: 1px black solid;
}

th, td {
    border-bottom: 1px red solid;
}

.half {
    width: 49.5%;
    display: inline-block;
    vertical-align: top;

    color: white;
    text-align: left;
}
