* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

h1 {
    margin-left: 50px;
    border-bottom: 3px solid;
}

h2 {
    margin: 20px 0;
}

.page1 img {
    width: 300px;
}

.half {
    width: 49%;
    display: inline-block;
}

.infos {
    vertical-align: top;
}

.step{
    height: 150px;
}

table {
    border: 1px black solid;
}

th, td {
    border-bottom: 1px red solid;
}