* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url("citrouilles.jpg");
    background-size: cover;
}

html {
    font-family: fantasy;
    font-size: 1.5vw;
}

a {
    color: white;
}

h1 {
    border-bottom: 3px solid red;
    color: white;
}

h1, footer {
    background: #00000087;
}

.part {
    width: 33%;
    display: inline-block;
    vertical-align: top;

}

.side {
    text-align: center;
}

.middle {
    text-align: center;
}

.part > div, #menu {
    margin: auto;
    width: 80%;
    color: white;
    background: black;
}

nav {
    text-align: center;
    /*background: black;*/
}

#menu {
    padding-top: 20px;
}

#menu div {
    margin: 5px;
    padding: 10px 0;
    background: orange;
}

footer div {
    padding: 10px 20px;
    background: orange;
    width: 25%;
    margin: auto;
}

.part img {
    width: 20vw;
    height: auto;
    margin: 20px auto;
}

footer {
    border-top: red 3px solid;
}
/*page 1*/
.half {
    width: 49.5%;
    display: inline-block;
}

.show {
    width: 280px;
    margin: 20px;
}

.left {
    text-align: center;
}

.right {
    padding: 0 20px;
    vertical-align: top;
}

/*time*/

.recipe, .right {
    color: white;
    background: rgba(0, 0, 0, 0.8);
}

/*page 2*/
li img {
    width: 5vw;
    height: auto;
}

.bottom .part{
    border-top: red 3px solid;
    background: orange;
}

.link {
    background: rgba(0, 0, 0, 0.8);
}